@font-face {
   font-family: 'Anton';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/Documents%20Folder/GitHub/hypershape/fonts/Anton/regular.ttf') format('truetype');
}
